html {
    scroll-behavior: smooth;
    min-height: 100%;
}

body{
    background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%); 
    color: black;
    font-family: calibri;
    width: 1256vw;
    overflow: hidden;
    min-height: 100%;
}

.flex-container {
  display: flex;
}

.container{
    height: 48vw;
    width: 97vw;
    border-right: 1px solid #e1e1e1;
}

.btn{
    color: white;
    background-image: linear-gradient(180deg, #3a77dc 0%, #00b4ff 100%);
    border: none;
    padding: 15px 32px;
    /*font-family: arial;*/
    font-weight: 550;
    font-size: 1.5vw;
    letter-spacing: 1px;
    margin: 0.75vw;
    margin-left: 7.5vw;
    border-radius: 5px;
    width: 13vw;
    text-align: center;
}

.btn:hover{
    background-image: linear-gradient(180deg, #fc2941, #e55b59);
}

h1{
    font-size: 72px;
      background-image: linear-gradient(180deg, #fc2941, #e55b59);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    /*font-family: Arial Rounded MT;*/
    font-weight: 900;
    letter-spacing: -2px;
}

.par{
    background-color: #e1e1e1;
    padding: 15px 32px;
    box-shadow: -10px 10px #fc2941;   
    margin: 1vw;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

img {
    box-shadow: -0.7vw 0.7vw #3a77dc;   
    margin: 1vw;
}

#navigatiebalk{
    width: 100%;
    height: 5vw;
    border-top: 1px solid #000000;
    position: fixed;
    bottom: 0;
}

.opdrachtimg{
    position: relative;
    width: 15vw;
    top: 10vw;
    left: 5vw;
}

#rubric1{
    position: absolute;
    left: 1175vw;
    bottom: 50%;
    width: 500px;
}

#rubric2{
    position: absolute;
    left: 1200vw;
    bottom: 50%;
    width: 500px;
}

#rubric3{
    position: absolute;
    left: 1225vw;
    bottom: 50%;
    width: 500px;
}

li{
    padding-bottom: 1vw;
    font-weight: bold;
}

.rubrichref{
    text-decoration: none;
    color: black;
}

b{
    background-image: linear-gradient(180deg, #fc2941, #e55b59);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.ball {
    position: relative;
    background-image: linear-gradient(180deg, #fc2941, #e55b59);
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
    left: 55vw;
    top: 15vw;
}

.extraopdrachtp{
    position: relative;
    top: 5%;
}

.header3{
    font-weight: bold;
}