#openingtitle{
    position: absolute;
    left: 15vw;
    top: 12vw;
}

#openingp{
    position: absolute;
    left: 15.5vw;
    top: 18.5vw;
}

#message{
    float: right;
    margin-right: 1vw;
}

#introp{
    position: relative;
    width: 30vw;
    bottom: 10vw;
    left: 25vw;
}

#introtitle{
    position: relative;
    left: 25vw;
    bottom: 10vw;
}

#introimg{
    position: relative;
    height: 15vw;
    top: 10vw;
    left: 5vw;
}

.testcontainer{
    width: 80%;
}